/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

/* Body styling */
body {
  margin: 0;
  text-align: center;
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F1AB86;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid white;
}

/* Hero section */
#hero {
  display: flex;
  flex-direction: column;
  background-color: cyan;
  background-image: url(images/Mumbai-bg.jpg);
  background-size: cover;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

#place-detail {
  width: 70vh;
}

#title-container {
  background-color: #f1faee;
  padding: 3px 10px;
  border-radius: 10px;
  margin: 10px;
}

#info-container {
  background-color: #f1faee;
  padding: 3px 10px;
  border-radius: 10px;
}

/* Activities section */
#top-places {
  display: flex;
  flex-direction: column;
}

#three-places {
  display: flex;
  justify-content: space-around;
}

#activities {
  background-color: antiquewhite;
  /* display: flex; */
}

.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}


.place-title {
  width: 300px;
  height: 40px;
}

.place-info {
  margin-top: 10px ;
  width: 400px;
}

/* guide section */
#guide {
  margin: 20px auto;
  height: 420px;
  width: 350px;
  background-color: aquamarine;
  /* display: flex; */
}

#guide-info {
  background-color: #f1faee;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
}

.section-styling {
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
}
